{#
/**
 * MailChimp plugin for Craft CMS
 *
 * MailChimpWidget Widget Body
 *
 * @author    Superbig
 * @copyright Copyright (c) 2017 Superbig
 * @link      https://superbig.co
 * @package   MailChimp
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@superbig/mailchimp/assetbundles/mailchimpwidgetwidget/dist', true) ~ '/img/MailChimpWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
